@{
	ViewData["Title"] = "CheckOut";
}
@model BusinessObjects.DTO.UserPayment
<!-- checkout-area start -->
<div class="checkout-area ptb-100">
	<div class="container">
		<div class="row">
			<form asp-controller="Payment" asp-action="Save" method="POST">
				<div class="col-lg-6 col-md-12 col-12">
					<div class="checkbox-form">
						<h3>Basic Information</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="checkout-form-list">
									<label>First Name <span class="required">*</span></label>
									<input type="text" asp-for="FirstName" value="@ViewBag.user.FirstName" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="checkout-form-list">
									<label>Last Name <span class="required">*</span></label>
									<input type="text" asp-for="LastName" value="@ViewBag.user.LastName" />
								</div>
							</div>
							<div class="col-md-12">
								<div class="checkout-form-list">
									<label>Address <span class="required">*</span></label>
									<input type="text" asp-for="Address" value="@ViewBag.user.Address" />
								</div>
							</div>
							<div class="col-md-12">
								<div class="checkout-form-list">
									<input type="text" asp-for="SubAddress" placeholder="Apartment, suite, unit etc. (optional)" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="checkout-form-list">
									<label>Phone  <span class="required">*</span></label>
									<input type="text" asp-for="PhoneNumber" value=" @ViewBag.user.PhoneNumber" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-12">
					<div class="your-order">
						<h3>Your order</h3>
						<div class="your-order-table table-responsive">
							<table>
								<thead>
									<tr>
										<th class="product-name">Product</th>
										<th class="product-total">Total</th>
									</tr>
								</thead>
								@*Show book in checkout*@
								<tbody>
									@foreach (var book in ViewBag.books)
									{
										<tr class="cart_item" id="row_cart_@book.BookId">
											<td class="product-name">
												@book.Title <strong class="product-quantity"> ×  @book.Quantity</strong>
											</td>
											<td class="product-total">
												<span class="amount checkout_subtotal subtotal">$@book.SubTotal</span>
											</td>
										</tr>
									}
								</tbody>
								@*Show total*@
								<tfoot>
									<tr class="cart-subtotal">
										<th><strong>Cart Subtotal</strong></th>
										<td><strong class="amount">$@ViewBag.totalCart.SubTotal</strong></td>
									</tr>
									@*Display discount*@
									<input type="hidden" asp-for="DiscountId" readonly value="@ViewBag.totalCart.DiscountId" />
									<tr id="apply_discount">
										<th><strong>Apply Discount</strong></th>
										<td><strong>@ViewBag.totalCart.Discount%</strong></td>
									</tr>

									<tr class="order-total">
										<th><strong>Order Total</strong></th>
										<td>
											<span>
												<strong>
													$
													<input class="amount" asp-for="Total" readonly value="@ViewBag.totalCart.Total" />
												</strong>
											</span>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="payment-method">
							<div class="payment-accordion">
								<div class="order-button-payment">
									<input type="submit" value="Payment" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/main.js"></script>
	<script src="~/js/header.js"></script>

}