@model BusinessObjects.DTO.BookDetail
@{
	ViewData["Title"] = "Product Detail";
}


<div class="product-details ptb-100 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-7 col-12">
				<div class="product-details-img-content">
					<div class="product-details-tab mr-35 product-details-tab2">
						<div class="product-details-large tab-content">
							<div class="tab-pane active show fade" id="pro-details1" role="tabpanel">
								<div class="easyzoom easyzoom--overlay ">
									@* <a href="@ViewBag.api/@Model.Image">
										<img src="@ViewBag.api/@Model.Image" alt="">
									</a> *@
									<img src="@ViewBag.api/@Model.Image" alt="">
								</div>
							</div>
							@* <div class="tab-pane fade" id="pro-details2" role="tabpanel">
								<div class="easyzoom easyzoom--overlay">
									<a href="@ViewBag.api/@Model.Image">
										<img src="@ViewBag.api/@Model.Image" alt="">
									</a>
								</div>
							</div>
							<div class="tab-pane fade" id="pro-details3" role="tabpanel">
								<div class="easyzoom easyzoom--overlay">
									<a href="@ViewBag.api/@Model.Image">
										<img src="@ViewBag.api/@Model.Image" alt="">
									</a>
								</div>
							</div>
							<div class="tab-pane fade" id="pro-details4" role="tabpanel">
								<div class="easyzoom easyzoom--overlay">
									<a href="@ViewBag.api/@Model.Image">
										<img src="@ViewBag.api/@Model.Image" alt="">
									</a>
								</div>
							</div> *@
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-5 col-12">
				<div class="product-details-content">
					<h3>@Model.Title</h3>
					<div class="rating-number">
						<div class="quick-view-rating">
							<i class="pe-7s-star red-star"></i>
							<i class="pe-7s-star red-star"></i>
							<i class="pe-7s-star"></i>
							<i class="pe-7s-star"></i>
							<i class="pe-7s-star"></i>
						</div>
						<div class="quick-view-number">
							<span>2 Ratting (S)</span>
						</div>
					</div>
					<div class="details-price">
						<span>$@Model.SellingPrice</span>
					</div>
					<p>@Model.Description</p>
					<div class="quickview-plus-minus">
						<div class="cart-plus-minus book-detail">
							<div class="inc qtybutton">+</div>
							<input type="text" value="01" name="qtybutton" id="quantity" class="cart-plus-minus-box book-detail">
							<div class="inc qtybutton">-</div>
						</div>
						<div class="quickview-btn-cart">
							<a class="btn-hover-black" onclick="AddToCart(@Model.Id)">add to cart</a>
						</div>
						<div class="quickview-btn-wishlist">
							<a class="btn-hover" onclick="AddToWishlist(@Model.Id)"><i class="pe-7s-like"></i></a>
						</div>
					</div>
					<div class="product-details-cati-tag mt-35">
						<ul>
							<li class="categories-title">Genre :</li>
							<li><a href="#">@Model.Genre</a></li>
						</ul>
						<ul>
							<li class="categories-title">Publisher :</li>
							<li><a href="#">@Model.Publisher</a></li>
						</ul>
						<ul>
							<li class="categories-title">Publisher Year :</li>
							<li><a href="#">@Model.PublicationYear</a></li>
						</ul>
						<ul>
							<li class="categories-title">Author :</li>
							<li><a href="#">@Model.Author</a></li>
						</ul>
						<ul>
							<li class="categories-title">ISBN :</li>
							<li><a href="#">@Model.ISBN</a></li>
						</ul>
						<ul>
							<li class="categories-title">Page Count :</li>
							<li><a href="#">@Model.PageCount</a></li>
						</ul>
						<ul>
							<li class="categories-title">Language :</li>
							<li><a href="#">@Model.Language</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* //FORM POPUP *@
<div class="container">
	<div class="box-comment">

		<form method="POST" id="reviewForm">
			<h2>Leave your comments here</h2>
			<input type="hidden" id="bookId" value="@Model.Id">
			<div class="mb-3">
				<label for="comment" class="form-label">Comment</label>
				<textarea class="form-control" id="comment" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="rate" class="form-label">Rate</label><br>
				<div class="rating">
					<i class="fas fa-star" data-rating="1"></i>
					<i class="fas fa-star" data-rating="2"></i>
					<i class="fas fa-star" data-rating="3"></i>
					<i class="fas fa-star" data-rating="4"></i>
					<i class="fas fa-star" data-rating="5"></i>
				</div>
				<input type="hidden" name="rating" id="selectedRating" value="">
			</div>
			<button type="submit" class="btn btn-primary submit-comment">Submit</button>
		</form>
	</div>
</div>
<style>
	.rating .fas.fa-star.selected {
		color: gold;
	}

	.box-comment {
		/* border: #7D7C7C 1px solid; */
		border-radius: 8px;
		padding: 10px;
		margin-bottom: 40px;
	}

	.review-section {
		text-align: left;
		justify-content: start;
	}

	.review {
		border-bottom: 1px solid #ccc; /* Thêm đường kẻ ngang */
		padding-bottom: 10px; /* Khoảng cách dưới của mỗi bài đánh giá */
	}

	.submit-commen {
		margin: 10px;
		border-radius: 8px !important;
		background-color: #050035;
	}

</style>
@* END FORM POPUP *@
<div class="product-description-review-area pb-90">
	<div class="container">
		<div class="product-description-review text-center">
			<div class="description-review-title nav" role="tablist">
                <h3>Reviews (0)</h3>
			</div>
			<div class="review-section tab-content" id="book-review">
				<div class="review-display" role="tabpanel">
					<div id="review-container">
						<!-- Đánh giá sẽ được hiển thị ở đây -->
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- product area start -->
<div class="product-area pb-95">
	<div class="container">
		<div class="section-title-3 text-center mb-50">
			<h2>Related products</h2>
		</div>
		<div class="product-style">
			<div class="related-product-active owl-carousel related-product">
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/1.jpg" alt="">
						</a>
						<span>hot</span>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" href="#">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/2.jpg" alt="">
						</a>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" href="#">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/3.jpg" alt="">
						</a>
						<span>hot</span>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" href="#">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/4.jpg" alt="">
						</a>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" href="#">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/5.jpg" alt="">
						</a>
						<span>hot</span>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" href="#">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/1.jpg" alt="">
						</a>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" href="#">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
				<div class="product-wrapper">
					<div class="product-img">
						<a href="#">
							<img src="assets/img/product/fashion-colorful/2.jpg" alt="">
						</a>
						<span>hot</span>
						<div class="product-action">
							<a class="animate-left" title="Wishlist" href="#">
								<i class="pe-7s-like"></i>
							</a>
							<a class="animate-top" title="Add To Cart" onclick="AddToCart(@Model.Id)">
								<i class="pe-7s-cart"></i>
							</a>
							<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
								<i class="pe-7s-look"></i>
							</a>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="#">Arifo Stylas Dress</a></h4>
						<span>$115.00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>


	</script>
	<script src="~/js/main.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/js/cart.js"></script>
	<script src="~/js/BookDetail.js"></script>
}