@using Microsoft.AspNetCore.Html;
@model BusinessObjects.DTO.BookDetail
@{
	ViewData["Title"] = "Product Detail";
}

@functions {
	// Helper function to generate star rating HTML
	public IHtmlContent GenerateStarRating(double rating, int maxRating)
	{
		var starRatingHtml = new HtmlContentBuilder();
		for (int i = 0; i < maxRating; i++)
		{
			if (rating >= 1)
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star-fill\"></i>");
				rating--;
			}
			else if (rating > 0)
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star-half\"></i>");
				rating = 0;
			}
			else
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star\"></i>");
			}
		}
		return starRatingHtml;
	}

	public IHtmlContent GenerateFavoriteIcon(bool isFavorite, int BookId)
	{
		var favoriteHtml = (isFavorite == true)
			? $"<i class=\"bi bi-suit-heart-fill\" id=\"wishlist_book_{BookId}\" onclick=\"DeleteWishlist({BookId})\"></i>"
			: $"<i class=\"bi bi-suit-heart\" id=\"wishlist_book_{BookId}\" onclick=\"AddToWishlist({BookId})\"></i>";
		return new HtmlString(favoriteHtml);
	}

}
<div class="product-details ptb-100 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-7 col-12">
				<div class="product-details-img-content">
					<div class="product-details-tab mr-35 product-details-tab2">
						<div class="product-details-large tab-content">
							<div class="tab-pane active show fade" id="pro-details1" role="tabpanel">
								<div class="easyzoom easyzoom--overlay ">
									<a href="/img/product/book/@ViewBag.Image">
										<img src="/img/product/book/@ViewBag.BookDetail.Image" alt="">
									</a>
								</div>
							</div>
							<div class="tab-pane fade" id="pro-details2" role="tabpanel">
								<div class="easyzoom easyzoom--overlay">
									<a href="/img/product/book/@ViewBag.BookDetail.Image">
										<img src="/img/product/book/@ViewBag.BookDetail.Image" alt="">
									</a>
								</div>
							</div>
							<div class="tab-pane fade" id="pro-details3" role="tabpanel">
								<div class="easyzoom easyzoom--overlay">
									<a href="/img/product/book/@ViewBag.BookDetail.Image">
										<img src="/img/product/book/@ViewBag.BookDetail.Image" alt="">
									</a>
								</div>
							</div>
							<div class="tab-pane fade" id="pro-details4" role="tabpanel">
								<div class="easyzoom easyzoom--overlay">
									<a href="/img/product/book/@ViewBag.BookDetail.Image">
										<img src="/img/product/book/@ViewBag.BookDetail.Image" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-5 col-12">
				<div class="product-details-content">
					<h3>@ViewBag.BookDetail.Title</h3>
					<div class="rating-number" onload="checkRate(@ViewBag.BookDetail.Rate, @ViewBag.BookDetail.Id)"> </div>
					<div class="details-price">
						<span>$@ViewBag.BookDetail.SellingPrice</span>
					</div>
					<p>@ViewBag.BookDetail.Description</p>
					<div class="quickview-plus-minus">
						<div class="cart-plus-minus">
							<div class="inc qtybutton" onclick="BtnMinus()">-</div>
							<input type="text" value="1" name="qtybutton" id="quantity" class="cart-plus-minus-box">
							<div class="inc qtybutton" onclick="BtnPlus()">+</div>
						</div>
						<div class="quickview-btn-cart">
							<a class="btn-hover-black" onclick="AddToCart(@ViewBag.BookDetail.Id)">add to cart</a>
						</div>
						<div class="quickview-btn-wishlist">
							@GenerateFavoriteIcon(ViewBag.BookDetail.IsFavorite, @ViewBag.BookDetail.Id)
						</div>
					</div>
					<div class="product-details-cati-tag mt-35">
						<ul>
							<li class="categories-title">Genre :</li>
							<li><a href="#">@ViewBag.BookDetail.Genre</a></li>
						</ul>
						<ul>
							<li class="categories-title">Publisher :</li>
							<li><a href="#">@ViewBag.BookDetail.Publisher</a></li>
						</ul>
						<ul>
							<li class="categories-title">Publisher Year :</li>
							<li><a href="#">@ViewBag.BookDetail.PublicationYear</a></li>
						</ul>
						<ul>
							<li class="categories-title">Author :</li>
							<li><a href="#">@ViewBag.BookDetail.Author</a></li>
						</ul>
						<ul>
							<li class="categories-title">ISBN :</li>
							<li><a href="#">@ViewBag.BookDetail.ISBN</a></li>
						</ul>
						<ul>
							<li class="categories-title">Page Count :</li>
							<li><a href="#">@ViewBag.BookDetail.PageCount</a></li>
						</ul>
						<ul>
							<li class="categories-title">Language :</li>
							<li><a href="#">@ViewBag.BookDetail.Language</a></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@* //FORM POPUP *@
<div class="container">
	<div class="box-comment">
		<h2>Leave your comments here</h2>
		<form method="POST" id="reviewForm">
			<div class="mb-3">
				<label for="comment" class="form-label">Comment</label>
				<textarea class="form-control" id="comment" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="rate" class="form-label">Rate</label><br>
				<div class="rating">
					<i class="fas fa-star" data-rating="5"></i>
					<i class="fas fa-star" data-rating="4"></i>
					<i class="fas fa-star" data-rating="3"></i>
					<i class="fas fa-star" data-rating="2"></i>
					<i class="fas fa-star" data-rating="1"></i>
				</div>
				<input type="hidden" name="rating" id="selectedRating" value="">
			</div>
			<button type="submit" class="btn btn-primary submit-comment">Submit</button>
		</form>
	</div>
</div>

<style>
	.rating .fas.fa-star.selected {
		color: gold;
	}

	.box-comment {
		/* border: #7D7C7C 1px solid; */
		border-radius: 8px;
		padding: 10px;
		margin-bottom: 40px;
	}

	.review-section {
		text-align: left;
		justify-content: start;
	}

	.review {
		border-bottom: 1px solid #ccc; /* Thêm đường kẻ ngang */
		padding-bottom: 10px; /* Khoảng cách dưới của mỗi bài đánh giá */
	}

	.submit-commen {
		margin: 10px;
		border-radius: 8px !important;
		background-color: #050035;
	}
</style>
@* END FORM POPUP *@
<div class="product-description-review-area pb-90">
	<div class="container">
		<div class="product-description-review text-center">
			<div class="description-review-title nav" role=tablist>
				<a href="#pro-review" data-bs-toggle="tab" role="tab" aria-selected="false">
					Reviews (0)
				</a>
			</div>

			<div class="review-section tab-content">
				<div class="review-display" id="book-review" role="tabpanel">
					<div class="review">
						<div class="user-comment">
							<div class="user-name">Your Name 1</div>
							<div class="star-rating" data-rating="2"></div> @* Điền value 1,2,3,4,5 từ csdl vào data-rating *@
							<p>Your comment goes here. Lorem</p>
						</div>
						<div class="review-date">October 17, 2023</div>
					</div>
				</div>
			</div>
			<div class="review-section tab-content">
				<div class="review-display" id="book-review" role="tabpanel">
					<div class="review">
						<div class="user-comment">
							<div class="user-name">Your Name 2</div>
							<div class="star-rating" data-rating="3"></div> @* Điền value 1,2,3,4,5 từ csdl vào data-rating *@
							<p>Your comment goes here. Lorem</p>
						</div>
						<div class="review-date">October 17, 2023</div>
					</div>
				</div>
			</div>
			<div class="review-section tab-content">
				<div class="review-display" id="book-review" role="tabpanel">
					<div class="review">
						<div class="user-comment">
							<div class="user-name">Your Name 3</div>
							<div class="star-rating" data-rating="5"></div>
							<p>Your comment goes here. Lorem</p>
						</div>
						<div class="review-date">October 17, 2023</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- product area start -->
<div class="product-area pb-95">
	<div class="container">
		<div class="section-title-3 text-center mb-50">
			<h2>Related products</h2>
		</div>
		<div class="product-style">
			<div class="related-product-active owl-carousel related-product">
				@foreach (var book in @ViewBag.RelatedBook)
				{
					<div class="product-wrapper">
						<div class="product-img">
							<div class="product-img list-img-width">
								<a asp-controller="Home" asp-action="Detail" asp-route-id="@book.Id">
									<img src="/img/product/book/@book.Image" alt="">
								</a>
								<span>hot</span>
							</div>
							<span>hot</span>
							<div class="product-action">
								<a class="animate-left" title="Wishlist">
									@GenerateFavoriteIcon(@book.IsFavorite, @book.Id)
								</a>
								<a class="animate-top" title="Add To Cart" onclick="AddToCart(@book.Id)">
									<i class="pe-7s-cart"></i>
								</a>
								<a asp-controller="Home" asp-action="Detail" asp-route-id="@book.Id" class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
									<i class="pe-7s-look" onclick="ViewDetail(@book.Id)"></i>
								</a>
							</div>
						</div>

						<div class="product-content">
							<div class="product-rating-2">
								@GenerateStarRating(book.Rate, 5)
							</div>
							<h4><a href="#">@book.Title</a></h4>
							<span>$@book.SellingPrice</span>
						</div>
					</div>
				}


			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/main.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/js/cart.js"></script>
	<script src="~/js/detail.js"></script>
}