@using Microsoft.AspNetCore.Html;
@model BusinessObjects.DTO.BookHome
@{
	ViewData["Title"] = "Home Page";
}

<!-- header end -->
<div class="slider-area">
	<div class="slider-active owl-carousel">
		<div class="single-slider single-slider-book1 bg-img" style="background-image: url('@Url.Content("~/img/product/book/2.png")')">
			<div class="container">
				<div class="slider-animation slider-content-book fadeinup-animated">
					<h1 class="animated"><span>Knowledge</span> is</h1>
					<h2 class="animated">Power.</h2>
					<p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="shop.html">More Books</a>
					@* asp-controller="Home" asp-action="Shop" *@
				</div>
			</div>
		</div>
		<div class="single-slider single-slider-book1 bg-img" style="background-image: url('@Url.Content("~/img/product/book/4.png")')">
			<div class="container">
				<div class="slider-animation slider-content-book fadeinup-animated">
					<h1 class="animated"><span>Knowledge</span> is</h1>
					<h2 class="animated">Power.</h2>
					<p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<a href="shop.html">More Books</a>
				</div>
			</div>
		</div>
	</div>
</div>
@functions {
	// Helper function to generate star rating HTML
	public IHtmlContent GenerateStarRating(double rating, int maxRating)
	{
		var starRatingHtml = new HtmlContentBuilder();
		for (int i = 0; i < maxRating; i++)
		{
			if (rating >= 1)
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star-fill\"></i>");
				rating--;
			}
			else if (rating > 0)
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star-half\"></i>");
				rating = 0;
			}
			else
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star\"></i>");
			}
		}
		return starRatingHtml;
	}

	public IHtmlContent GenerateFavoriteIcon(bool isFavorite, int BookId)
	{
		var favoriteHtml = isFavorite
			? $"<i class=\"bi bi-suit-heart-fill\" onclick=\"DeleteToWishlist({BookId})\"></i>"
			: $"<i class=\"bi bi-suit-heart\" onclick=\"AddToWishlist({BookId})\"></i>";
		return new HtmlString(favoriteHtml);
	}

}
<!-- best product area start -->
<div class="best-product-area pb-15">
	<div class="pl-100 pr-100">
		<div class="container-fluid">
			<div class="section-title-3 text-center mb-40 pt-40">
				<h2>Best Products</h2>
			</div>
			<div class="best-product-style">
				<div class="product-tab-list2 text-center mb-95 nav product-menu-mrg" role="tablist">
					@foreach (var item in Model.TopGenres)
					{
						<a href="#home_@item.GenreId" data-bs-toggle="tab" role="tab">
							<h4>@item.GenreName</h4>
						</a>
					}
				</div>

				<div class="tab-content">
					@foreach (var item in Model.TopGenres)
					{
						<div class="tab-pane show fade" id="home_@item.GenreId" role="tabpanel">
							<div class="custom-row">
								@foreach (var book in item.BookGenres)
								{
									<div class="custom-col-5 custom-col-style mb-95">
										<div class="product-wrapper">
											<div class="product-img-2">
												<a asp-controller="Home" asp-action="Detail" asp-route-id="@book.BookId">
													<img src="/img/product/book/@book.BookImage" alt="">
												</a>
												<div class="product-action-2">
													<a class="animate-left add-style-2" title="Add To Cart" onclick="AddToCart(@book.BookId)">Add to Cart <i class="ti-shopping-cart"></i></a>
													<a class="animate-right wishlist-style-2" title="wishlist">
														@GenerateFavoriteIcon(@book.IsFavourite, @book.BookId)
													</a>
												</div>
											</div>
											<div class="product-content-2 text-center">
												<input type="hidden" id="quantity" runat="server" value="1">
												<h4><a asp-controller="Home" asp-action="Detail" asp-route-id="@book.BookId">@book.BookTitle</a></h4>
												<span>By: @book.AuthorName</span>
												<div class="product-rating-2" style="display: flex; justify-content:center; align-items:center;">
													@GenerateStarRating(book.ReviewRate, 5)
												</div>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- best product area end -->
<!-- top month area start -->
<div class="top-month pb-120">
	<div class="container">
		<div class="section-title-3 text-center mb-70">
			<h2>Top Writer In this Month</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="book-list-hover">
					<div class="book-list-active owl-carousel" data-items="4" data-margin="10">
						@for (int i = 0; i < Model.TopAuthors.Count; i++)
						{
							for (int j = 0; j < @Model.TopAuthors[i].BookAuthors.Count; j++)
							{
								<div class="product-wrapper">
									<div class="product-img-2">
										<a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.TopAuthors[i].BookAuthors[j].BookId">
											<img src="~/img/product/book/@Model.TopAuthors[i].BookAuthors[j].BookImage" alt="">
										</a>
										<div class="product-action-2">
											<a class="animate-left add-style-2" title="Add To Cart" onclick="AddToCart(@Model.TopAuthors[i].BookAuthors[j].BookId)">Add to Cart <i class="ti-shopping-cart"></i></a>
											<a class="animate-right wishlist-style-2" title="wishlist" href="#">
												@GenerateFavoriteIcon(@Model.TopAuthors[i].BookAuthors[j].IsFavourite, @Model.TopAuthors[i].BookAuthors[j].BookId)
											</a>
										</div>
									</div>
									<div class="product-content-3 text-center">
										<h4><a asp-controller="Home" asp-action="Detail" asp-route-id="@Model.TopAuthors[i].BookAuthors[j].BookId">@Model.TopAuthors[i].BookAuthors[j].BookTitle</a></h4>
										<span>
											@Model.TopAuthors[i].BookAuthors[j].AuthorName
										</span>
										<div class="product-rating-2" style="display: flex; justify-content:center; align-items:center;">
											@GenerateStarRating(Model.TopAuthors[i].BookAuthors[j].ReviewRate, 5)
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- top month area end -->
<!-- testimonials area start -->
<div class="testimonials-area bg-img pt-145 pb-160" style="background-image: url('@Url.Content("~/img/product/book/3.png")')">
	<div class="container">
		<div class="testimonials-active owl-carousel">
			<div class="single-testimonial text-center">
				<i class="ti-quote-left"></i>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
				<h4>tayeb rayed</h4>
				<span>ui ux - Designer</span>
			</div>
			<div class="single-testimonial text-center">
				<i class="ti-quote-left"></i>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
				<h4>KB Arif Vashar</h4>
				<span>ui ux - Designer</span>
			</div>
			<div class="single-testimonial text-center">
				<i class="ti-quote-left"></i>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
				<h4>KB Arif Vashar</h4>
				<span>ui ux - Designer</span>
			</div>
		</div>
	</div>
</div>
<!-- testimonials area end -->
@section Scripts {
	<script>
		const api = "@ViewBag.api";
		localStorage.setItem("apiUrl", api);

		if ($("#userId").length > 0) {
			if (!localStorage.getItem("userId")) {
				localStorage.setItem("userId", $("#userId").val());
				window.location.reload();
			}
		} else {
			localStorage.removeItem("userId");
		}
	</script>
	<script>
		$(document).ready(function () {
			$(".book-list-active").owlCarousel();
		});
	</script>
	<script src="~/js/main.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/js/homepage.js"></script>
}
