
@model BusinessObjects.DTO.UserProfile
@{
    ViewData["Title"] = "Profile";
}
<div class="container">
    <h2 class="text-center mt-4">Welcome to your profile!</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="password-tab" data-bs-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Change Password</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="history-tab" data-bs-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
        </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form>
                <!-- Profile information form here -->
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="username">First Name</label>
                    <input type="text" asp-for="User.FirstName" class="form-control edit" value="@Model.User.FirstName" readonly>
                </div>
                <div class="form-group">
                    <label for="username">Last Name</label>
                    <input type="text" asp-for="User.LastName" class="form-control edit" value="@Model.User.LastName" readonly>
                </div>
                <div class="form-group">
                    <label for="username">Address</label>
                    <input type="text" asp-for="User.Address" class="form-control edit" value="@Model.User.Address" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" asp-for="User.UserName" class="form-control edit" value="@Model.User.UserName" readonly>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
            <form asp-controller="Home" asp-action="ChangePassword" method="post">
                <!-- Change password form here -->
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" asp-for="ChangePassword.OldPassword" class="form-control" required>
                    <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" asp-for="ChangePassword.NewPassword" class="form-control" required>
                    <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" asp-for="ChangePassword.ConfirmPassword" class="form-control" required>
                    <span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark mt-3">Change Password</button>
            </form>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
            <!-- Content for the "History" tab -->
            <h3>Your Order History</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Total Books</th>
                        <th>Order Date</th>
                        <th>Total Quantity</th>
                        <th>See Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>
                            <a href="#" class="btn seeDetail" style="text-decoration:none; color: #F44344; font-size:1.5rem"><i class="bi bi-brightness-high-fill"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
