@using Microsoft.AspNetCore.Html;
@model BusinessObjects.DTO.ShopView
@{
	ViewData["Title"] = "Shop";
}

@functions {
	// Helper function to generate star rating HTML
	public IHtmlContent GenerateStarRating(double rating, int maxRating)
	{
		var starRatingHtml = new HtmlContentBuilder();
		for (int i = 0; i < maxRating; i++)
		{
			if (rating >= 1)
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star-fill\"></i>");
				rating--;
			}
			else if (rating > 0)
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star-half\"></i>");
				rating = 0;
			}
			else
			{
				starRatingHtml.AppendHtml("<i class=\"bi bi-star\"></i>");
			}
		}
		return starRatingHtml;
	}

	public IHtmlContent GenerateFavoriteIcon(bool isFavorite, int BookId)
	{
		var favoriteHtml = (isFavorite == true)
			? $"<i class=\"bi bi-suit-heart-fill\" onclick=\"DeleteToWishlist({BookId})\"></i>"
			: $"<i class=\"bi bi-suit-heart\" onclick=\"AddToWishlist({BookId})\"></i>";
		return new HtmlString(favoriteHtml);
	}

}

<div class="shop-page-wrapper shop-page-padding ptb-100">
	<div class="container-fluid">
		<div class="row gy-5">
			<div class="col-lg-3 order-2 order-lg-1">
				<div class="shop-sidebar mr-50">
					<div class="sidebar-widget mb-50">
						<h3 class="sidebar-title">Search Products</h3>
						<div class="sidebar-search">
							<form>
								<input placeholder="Search Products..." name="title" id="search" type="text">
								<button><i class="ti-search"></i></button>
							</form>
						</div>
					</div>
					<div id="genres" class="sidebar-widget mb-45">
						<h3 class="sidebar-title">Genres</h3>
						<div class="sidebar-categories">
							<ul>
								@foreach (var item in Model.Filter.Genres)
								{
									<li><a asp-route="displaybookbygenre" asp-route-filterId="@item.Id"> @item.Name <span>@item.Quantity </span></a></li>
								}
							</ul>
						</div>
					</div>
					<div id="publishers" class="sidebar-widget mb-45">
						<h3 class="sidebar-title">Publishers</h3>
						<div class="sidebar-categories">
							<ul>
								@foreach (var item in Model.Filter.Publishers)
								{
									<li><a href="#"> @item.Name <span>@item.Quantity </span></a></li>
								}
							</ul>
						</div>
					</div>
					<div id="languages" class="sidebar-widget mb-45">
						<h3 class="sidebar-title">Languages</h3>
						<div class="sidebar-categories">
							<ul>
								@foreach (var item in Model.Filter.Languages)
								{
									<li><a href="#"> @item.Name <span>@item.Quantity </span></a></li>
								}
							</ul>
						</div>
					</div>
					<div id="authors" class="sidebar-widget mb-45">
						<h3 class="sidebar-title">Authors</h3>
						<div class="sidebar-categories">
							<ul>
								@foreach (var item in Model.Filter.Authors)
								{
									<li><a href="#"> @item.Name <span>@item.Quantity </span></a></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 order-1 order-lg-2">
				<div class="shop-product-wrapper res-xl res-xl-btn">
					<div class="shop-bar-area">
						<div class="shop-bar pb-60">
							<div class="shop-found-selector">
								<div class="shop-found" id="found">
									<p><span>23</span> Book Found of <span>50</span></p>
								</div>
							</div>
							<div class="shop-filter-tab">
								<div class="shop-tab nav" role=tablist>
									<a class="active" href="#grid-sidebar1" data-bs-toggle="tab" onclick="" role="tab" aria-selected="false">
										<i class="ti-layout-grid4-alt"></i>
									</a>
									<a href="#grid-sidebar2" data-bs-toggle="tab" role="tab" aria-selected="true">
										<i class="ti-menu"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="shop-product-content tab-content">
							<div id="grid-sidebar1" class="tab-pane fade active show">
								<div class="row" id="result_search_1">
									@if (Model != null)
									{
										@foreach (var book in Model.Books)
										{
											<div class="col-lg-6 col-md-6 col-xl-3">
												<div class="product-wrapper mb-30">
													<div class="product-img">
														<a asp-controller="Home" asp-action="Detail" asp-route-id="@book.Id">
															<img src="@ViewBag.api/@book.Image" alt="">
														</a>
														<div class="product-action">
															<a class="animate-left" title="Wishlist" href="#">
																@GenerateFavoriteIcon(@book.IsFavorite, @book.Id)
															</a>
															<a class="animate-top" title="Add To Cart" onclick="AddToCart(@book.Id)">
																<i class="pe-7s-cart"></i>
															</a>
															<a class="animate-right" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
																<i class="pe-7s-look"></i>
															</a>
														</div>
													</div>
													<div class="product-content">
														<div class="product-rating-2">
															@GenerateStarRating(book.Rate, 5)
														</div>
														<h4><a href="#">@book.Title</a></h4>
														<span>@book.SellingPrice</span>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
							<div id="grid-sidebar2" class="tab-pane fade">
								<div class="row" id="result_search_2">
									@if (Model != null)
									{
										@foreach (var book in Model.Books)
										{
											<div class="col-lg-12 col-xl-6">
												<div class="product-wrapper mb-30 single-product-list product-list-right-pr mb-60">
													<div class="product-img list-img-width">
														<a asp-controller="Home" asp-action="Detail" asp-route-id="@book.Id">
															<img src="/img/product/book/@book.Image" alt="">
														</a>
														<span>hot</span>
													</div>
													<div class="product-content-list">
														<div class="product-list-info">
															<h4><a href="/Home/Detail/@book.Id">@book.Title</a></h4>
															<div class="product-rating-2">
																@GenerateStarRating(book.Rate, 5)
															</div>
															<span href="/Home/Detail/@book.Id">@book.SellingPrice</span>
														</div>
														<div class="product-list-cart-wishlist">
															<div class="product-list-cart">
																<a class="btn-hover list-btn-style" onclick="AddToCart(@book.Id)">add to cart</a>
															</div>
															<div class="product-list-wishlist">
																<a class="btn-hover list-btn-wishlist" href="#">
																	@GenerateFavoriteIcon(@book.IsFavorite, @book.Id)
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</div>
						</div>
					</div>
				</div>
				@*<div class="pagination-style mt-30 text-center">
					<ul>
						<li><a href="#"><i class="ti-angle-left"></i></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">19</a></li>
						<li class="active"><a href="#"><i class="ti-angle-right"></i></a></li>
					</ul>
				</div>*@
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/js/main.js"></script>
	<script src="~/js/header.js"></script>
	<script src="~/js/shop.js"></script>
	<script src="~/js/cart.js"></script>
}

