@model List<BusinessObjects.Genre>
@{
    ViewData["Title"] = "Genre";
}
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Genres table</h5>
                            @* <form class="form-inline" method="POST"> *@
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search..." aria-label="Search">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success">Search</button>
                                    </div>
                                </div>
                            </div>
                            @* </form> *@
                            @* <button type="button" class="btn btn-info" data-toggle="modal" data-target="#genreModal">Add New Genre</button> *@
                        </div>
                        <!-- Small tables -->
                        <table class="table table-sm table-hover" id="genreTable" name="genreTable">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Genres Name</th>
                                    <th scope="col" class="w-50">Description</th>
                                    <th scope="col">Added Date</th>
                                    <th scope="col">Approval Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="genreList">
                                <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
                                    No available values found.
                                </div>
                                @foreach (var genre in Model)
                                {
                                    <tr id="row_@genre.Id">
                                        <th scope="row">@genre.Id</th>
                                        <td>@genre.Name</td>
                                        <td>@genre.Description</td>
                                        <td>@genre.AddDate.ToString("yyyy-MM-dd")</td>
                                        <td class="description">
                                            @{
                                                string approvalStatusText;
                                                switch (((int)genre.ApprovalStatus))
                                                {
                                                    case 0:
                                                        approvalStatusText = "Pending";
                                                        break;
                                                    case 1:
                                                        approvalStatusText = "Accepted";
                                                        break;
                                                    case 2:
                                                        approvalStatusText = "Rejected";
                                                        break;
                                                    default:
                                                        approvalStatusText = "Unknown";
                                                        break;
                                                }
                                            }
                                            @approvalStatusText
                                        </td>
                                        <td>
                                            <div class="flex-column align-items-center">
                                                <button class="reject-button btn btn-danger" data-id="@genre.Id">Reject</button>
                                                <button class="accept-button btn btn-success" data-id="@genre.Id">Accept</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End small tables -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@section Scripts{
    <script src="~/js/js-admin/genre-ad.js"></script>
    <script src="~/js/js-admin/main.js"></script>
}

