@model List<BusinessObjects.Book>
@{
    ViewData["Title"] = "Book";
}
@foreach (var item in Model)
{

}
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Books table</h5>
                            @* <form class="form-inline" method="POST"> *@
                                <div class="form-group">
                                    <div class="input-group">
                                    <input type="text" id="searchInput" class="form-control" placeholder="Search..." aria-label="Search">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </div>
                            <button onclick="exportToExcel()" class="btn btn-secondary">Export Excel</button>
                            @* </form> *@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#bookModal">Add New Book</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="bookModalLabel">Add New Book</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" id="myForm">
                                            <input type="hidden" id="bookId">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="bookName">Book Name</label>
                                                    <input type="text" class="form-control" id="bookName" placeholder="Enter book name" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Genres</label>
                                                    <select class="form-control" id="genreDropdown" required>
                                                        <option value="">Select a genre</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="bookDescription">Description</label>
                                                <textarea class="form-control" id="bookDescription" rows="3" placeholder="Enter book description" required></textarea>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="actualPrice">Actual Price</label>
                                                    <input type="number" min="1" step="0.01" class="form-control" id="actualPrice" placeholder="Enter actual price" required>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="realPrice">Real Price</label>
                                                    <input type="number" min="1" step="0.01" class="form-control" id="realPrice" placeholder="Enter real price" required>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="quantity">Quantity</label>
                                                    <input type="number" min="1" max="500" class="form-control" id="quantity" placeholder="Enter quantity" required>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="isbn">ISBN</label>
                                                    <input type="text" class="form-control" id="isbn" placeholder="Enter ISBN" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="datePublished">Publication Year</label>
                                                    <input type="number" min="1800" max="2999" class="form-control" id="datePublished" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="publisher">Publisher</label>
                                                    <select class="form-control" id="publisherDropdown" required>
                                                        <option value="">Select a publisher</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="pages">Pages</label>
                                                    <input type="number" min="1" max="2000" class="form-control" id="pages" placeholder="Enter number of pages" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="fileInput" class="control-label">Image</label>
                                                    <div class="custom-file">                                                       
                                                        <input type="file" class="custom-file-input" id="fileInput" name="imageFile" onchange="updateLabel(this)">
                                                        <label class="custom-file-label" for="fileInput">Choose an image:</label>
                                                    </div>
                                                    <div id="fileSizeError" style="color: red;"></div>
                                                </div>
                                            </div>
                                            <dic class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label class="control-label">Language</label>
                                                    <select class="form-control" id="languageDropdown" required>
                                                        <option value="">Select a language</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="author">Author</label>
                                                    <select class="form-control" id="authorDropdown" required>
                                                        <option value="">Select a author</option>
                                                    </select>
                                                </div>                  
                                                <div class="form-group col-md-4">
                                                    <label for="author">Is Sale</label>
                                                    <select class="form-control" id="saleDropdown" required>
                                                        <option value="">Select a status</option>
                                                        <option value="true">Are trading</option>
                                                        <option value="false">Not trading</option>
                                                    </select>
                                                </div>
                                            </dic>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Small tables -->
                        <table class="table table-sm table-hover" id="bookTable" name="bookTable">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Book Name</th>
                                    <th scope="col">Genre</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actual Price</th>
                                    <th scope="col">Real Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">ISBN</th>
                                    <th scope="col">Publication Year</th>
                                    <th scope="col">Publisher</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Pages</th>
                                    <th scope="col">Languages</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="bookList">
                                <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
                                    No available values found.
                                </div>
                                @foreach (var book in Model)
                                {
                                    <tr id="row_@book.Id">
                                        <th scope="row">@book.Id</th>
                                        <td>
                                            <img src="@ViewBag.api/@book.Image" title=""/>
                                        </td>
                                        <td>@book.Title</td>
                                        <td>@book.Genre?.Name</td>
                                        <td>@book.Description</td>
                                        <td>@book.OriginalPrice</td>
                                        <td>@book.SellingPrice</td>
                                        <td>@book.IsSale</td>
                                        <td>@book.Quantity</td>
                                        <td>@book.ISBN</td>
                                        <td>@book.PublicationYear</td>
                                        <td>@book.Publisher?.Name</td>
                                        <td>@book.Author?.Name</td>
                                        <td>@book.PageCount</td>
                                        <td>@book.Language?.Name</td>
                                        <td>
                                            <div class="flex-column align-items-center">
                                                <button type="button" class="btn btn-danger" onclick="deleteBook(@book.Id)">Delete</button>
                                                <button type="submit" class="btn btn-warning edit-book" data-toggle="modal" data-target="#bookModal" onclick="handleEditButton(@book.Id)">Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End small tables -->
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@section Scripts{

    <script>
        function exportToExcel() {
            Swal.fire({
                title: 'Export Excel',
                text: 'Are you sure you want to export data to Excel?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes, export it!',
                cancelButtonText: 'Cancel'
            }).then((result) => { 
                if (result.isConfirmed) {
                    $.ajax({
                        url: apiUrl + '/api/Products/export',
                        type: 'GET',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function (data) {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = 'Books.xlsx';
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);
                            document.body.removeChild(a);
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });
        }
        </script>

    <script src="~/js/js-owner/Book.js"></script>
    <script src="~/js/js-admin/main.js"></script>
}

