@model List<BusinessObjects.Author>
@{
    ViewData["Title"] = "Author";
}

<main id="main" class="main">

    <!-- <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div> -->
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Authors table</h5>
                            @* <form class="form-inline" method="POST"> *@
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </div>
                            <button onclick="exportToExcel()" class="btn btn-secondary">Export Excel</button>
                            @* </form> *@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#authorModal">Add New Author</button>

                            <!-- Modal -->
                            <div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="authorModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="authorModalLabel">Add New Author</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" id="myForm">
                                                <input type="hidden" id="authorId">
                                                <div class="form-group">
                                                    <label for="authorName">Author Name</label>
                                                    <input type="text" class="form-control" id="authorName" placeholder="Enter Author Name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="authorDescription">Description</label>
                                                    <textarea class="form-control" id="authorDescription" rows="3" placeholder="Enter Author Description"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Small tables -->
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr >
                                    <th scope="col">ID</th>
                                    <th scope="col">Author Name</th>
                                    <th scope="col" class="w-50">Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="authorList">
                                @foreach (var author in Model)
                                {
                                    <tr id="row_@author.Id">
                                        <th scope="row">@author.Id</th>
                                        <td>@author.Name</td>
                                        <td>@author.Description</td>
                                        <td>
                                            <div class="flex-column align-items-center">
                                                <button type="button" class="btn btn-danger" onclick="deleteAuthor(@author.Id)">Delete</button>
                                                <button type="button" class="btn btn-warning edit-author" data-toggle="modal" data-target="#authorModal" onclick="handleEditButton(@author.Id)">Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End small tables -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
@section Scripts{
   <script>
        function exportToExcel() {
            Swal.fire({
                title: 'Export Excel',
                text: 'Are you sure you want to export data to Excel?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes, export it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: apiUrl + '/api/Authors/export',
                        type: 'GET',
                        xhrFields: {
                            responseType: 'blob'
                        },
                        success: function (data) {
                            var a = document.createElement('a');
                            var url = window.URL.createObjectURL(data);
                            a.href = url;
                            a.download = 'exportedFile.xlsx';
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);
                            document.body.removeChild(a);
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });
        }


   </script>
    <script src="~/js/js-owner/author.js"></script>
    <script src="~/js/js-admin/main.js"></script>
}
