@model List<BusinessObjects.Language>
@{
    ViewData["Title"] = "Language";
}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">Languages table</h5>
                            @* <form class="form-inline" method="POST"> *@
                                <div class="form-group">
                                    <div class="input-group">
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search..." aria-label="Search">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </div>
                            @* </form> *@
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#languageModal">Add New Language</button>

                            <!-- Modal -->
                            <div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document" id="">
                                    <div class="modal-content" id="">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="languageModalLabel">Add New Language</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-action="CreateLanguage" asp-controller="Language" id="myForm" method="POST">
                                                @Html.AntiForgeryToken()
                                                <div class="form-group">
                                                    <label for="languageName">Language Name</label>
                                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Language Name">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Add</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Small tables -->
                        <table class="table table-sm table-hover" id="languageList" name="languageList">
                            <thead>
                                <tr>
                                    <th scope="col">Language ID</th>
                                    <th scope="col" class="w-50">Language</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div id="noResultsMessage" class="alert alert-warning" style="display: none;">
                                    No available values found.
                                </div>
                                @foreach (var language in Model)
                                {
                                    <tr id="row-@language.Id">
                                        <th scope="row">@language.Id</th>
                                        <td>@language.Name</td>
                                        <td>
                                            <div class="flex-column align-items-center">
                                                <button type="button" class="btn btn-danger" onclick="deleteLanguage(@language.Id)">Delete</button>
                                                <button type="submit" class="btn btn-warning edit-language" onclick="EditLanguage(@language.Id)">Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End small tables -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

@section Scripts{
    <script src="~/js/js-admin/language.js"></script>
    <script src="~/js/js-admin/main.js"></script>
}

